<center>
<img src="./img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('./data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [4]:
df.groupby('gender')['height'].mean()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [5]:
count_man = len(df[df['gender'] == 2])
count_man

24470

In [6]:
count_woman = len(df) - count_man
count_woman

45530

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [7]:
df.groupby('gender')['alco'].describe()

          count      mean       std  min  25%  50%  75%  max
gender
1       45530.0  0.025500  0.157639  0.0  0.0  0.0  0.0  1.0
2       24470.0  0.106375  0.308323  0.0  0.0  0.0  0.0  1.0

In [8]:
pd.crosstab(df['gender'], df['alco'])

alco        0     1
gender
1       44369  1161
2       21867  2603

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [9]:
df[df['gender'] == 1]['smoke'].value_counts()

0    44717
1      813
Name: smoke, dtype: int64

In [10]:
df[df['gender'] == 2]['smoke'].value_counts()

0    19114
1     5356
Name: smoke, dtype: int64

In [11]:
count_man_smoke = len(df[(df['gender'] == 2) & (df['smoke'] == 1)])
man_smoke_percentile = (count_man_smoke * 100.0) / count_man
man_smoke_percentile

21.88802615447487

In [12]:
count_woman_smoke = len(df[(df['gender'] == 1) & (df['smoke'] == 1)])
woman_smoke_percentile = (count_woman_smoke * 100.0) / count_woman
woman_smoke_percentile

1.785635844498133

In [13]:
round(man_smoke_percentile / woman_smoke_percentile)

12

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [14]:
smoke_age_median = df[df['smoke'] == 1]['age'].median()
smoke_age_median

19125.0

In [15]:
non_smoke_age_median = df[df['smoke'] == 0]['age'].median()
non_smoke_age_median

19722.0

In [16]:
df.groupby('smoke')['age'].agg(np.median)

smoke
0    19722
1    19125
Name: age, dtype: int64

In [17]:
diff = non_smoke_age_median - smoke_age_median
diff

597.0

In [18]:
diff / 365

1.6356164383561644

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [19]:
df['age_years'] = df['age'].map(lambda age: round(age / 365))
df['age_years'].describe()

count    70000.000000
mean        53.338686
std          6.765294
min         30.000000
25%         48.000000
50%         54.000000
75%         58.000000
max         65.000000
Name: age_years, dtype: float64

In [20]:
man_filtered = df[(df['age_years'] >= 60) & (df['age_years'] <= 64)]
man_filtered.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62
15,22530,1,169,80.0,120,80,1,1,0,0,1,0,62
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60

In [21]:
df['cholesterol'].value_counts()

1    52385
2     9549
3     8066
Name: cholesterol, dtype: int64

In [22]:
man_filtered_1 = man_filtered[(man_filtered['ap_hi'] < 120) & (man_filtered['cholesterol'] == 1)]
man_filtered_1.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64
97,23433,1,156,58.0,110,70,1,1,0,0,1,0,64
145,23296,2,168,75.0,110,80,1,1,0,0,0,1,64
192,21857,2,169,58.0,110,80,1,1,0,0,1,1,60
255,22527,1,165,67.0,90,60,1,1,0,0,1,0,62

In [23]:
man_filtered_2 = man_filtered[(man_filtered['ap_hi'] >= 160) & (man_filtered['ap_hi'] < 180) & (man_filtered['cholesterol'] == 3)]
man_filtered_2.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years
id,,,,,,,,,,,,,
604,21894,1,157,86.0,169,109,3,1,0,0,1,1,60
1150,23117,1,147,64.0,160,100,3,1,0,0,1,1,63
1307,23406,2,175,90.0,160,80,3,3,0,0,1,1,64
1390,23505,1,170,80.0,160,100,3,1,0,0,1,1,64
1764,22727,1,166,76.0,160,90,3,1,0,0,1,1,62

In [24]:
res = (len(man_filtered_1['cardio'] == 1), len(man_filtered_2['cardio'] == 1))
print(round(res[0] / res[1]))

4

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [25]:
df['bmi'] = df.apply(lambda row: row['weight'] / np.square(row['height'] / 100.0), axis=1)

In [26]:
df['bmi'].describe()

count    70000.000000
mean        27.556513
std          6.091511
min          3.471784
25%         23.875115
50%         26.374068
75%         30.222222
max        298.666667
Name: bmi, dtype: float64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70000 entries, 0 to 99999
Data columns (total 14 columns):
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
age_years      70000 non-null int64
bmi            70000 non-null float64
dtypes: float64(2), int64(12)
memory usage: 8.0 MB

In [28]:
df['bmi'].median()

26.374068120774975

In [29]:
df.groupby('gender')['bmi'].mean()

gender
1    27.987583
2    26.754442
Name: bmi, dtype: float64

In [30]:
df.groupby('cardio')['bmi'].mean()

cardio
0    26.548175
1    28.566061
Name: bmi, dtype: float64

In [31]:
df_healthy = df[(df['cardio'] == 0) & (df['alco'] == 0)]
df_healthy.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48,23.011177
8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60,29.384676
9,22113,1,157,93.0,130,80,3,1,0,0,1,0,61,37.729725
13,17668,1,158,71.0,110,70,1,1,0,0,1,0,48,28.440955

In [32]:
df_healthy.groupby('gender')['bmi'].mean()

gender
1    26.845407
2    25.872638
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [33]:
filtered_ap = df[df['ap_lo'] > df['ap_hi']]

In [34]:
filtered_qu_25 = df['height'].quantile(.025)
filtered_qu_975 = df['height'].quantile(.975)

print(filtered_qu_25, filtered_qu_975)

150.0 180.0

In [35]:
filtered_qu = df[(df['height'] < filtered_qu_25) | (df['height'] > filtered_qu_975)]

In [36]:
filtered_w_25 = df['weight'].quantile(.025)
filtered_w_975 = df['weight'].quantile(.975)

print(filtered_w_25, filtered_w_975)

51.0 108.0

In [37]:
filtered_w = df[(df['weight'] < filtered_w_25) | (df['weight'] > filtered_w_975)]

In [38]:
round((len(filtered_ap) + len(filtered_qu) + len(filtered_w)) * 100 / len(df))

10